@using Microsoft.Extensions.Options;
@using ESFA.DAS.EmployerProvideFeedback.Infrastructure
@using SFA.DAS.Employer.Shared.UI.Models
@{
    var _isErrorPage = ViewContext.View.Path.Contains("Error");

    var accountId = ViewContext.RouteData.Values[RouteValueKeys.EncodedAccountId] as string;
    ViewBag.HideHeaderBorder = true;
    var footerModel = new FooterModel { AccountId = accountId, UsePrivacyV2 = true };

    var zendeskSectionId = Config.ZendeskSectionId;
}

<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head>
    <environment include="@EnvironmentNames.PROD,@EnvironmentNames.TEST">
        @await Html.PartialAsync("_GoogleAnalyticsHeadPartial")
    </environment>
    <meta charset="utf-8" />
    <title>@(ViewData["Title"] ?? "Manage apprenticeships")</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#0b0c0c" />

    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon" />
    <link rel="mask-icon" href="assets/images/govuk-mask-icon.svg" color="#0b0c0c" />
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/govuk-apple-touch-icon-180x180.png" />
    <link rel="apple-touch-icon" sizes="167x167" href="assets/images/govuk-apple-touch-icon-167x167.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="assets/images/govuk-apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" href="assets/images/govuk-apple-touch-icon.png" />

    <!--[if !IE 8]><!-->
    <link href="css/main.css" rel="stylesheet" />
    <link href="/css/application.css" rel="stylesheet" no-cdn />
    <!--<![endif]-->

    <meta property="og:image" content="assets/images/govuk-opengraph-image.png">
    @Html.Raw(JavaScriptSnippet.FullScript) <!-- AppInsights script -->
</head>
<body class="govuk-template__body">
    <environment include="@EnvironmentNames.PROD,@EnvironmentNames.TEST">
        @await Html.PartialAsync("_GoogleAnalyticsBodyPartial")
    </environment>

    <script>document.body.className = document.body.className ? document.body.className + ' js-enabled' : 'js-enabled';</script>

    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    <partial name="_CookieBanner" />

    <partial name="_Header" />
    @if (accountId != null)
    {
<partial name="_Menu" model="@accountId" />}

    <div class="govuk-phase-banner govuk-width-container">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
                beta
            </strong>
            <span class="govuk-phase-banner__text">
                This is a new service.
            </span>
        </p>
    </div>

    <div class="govuk-width-container">
        @RenderBody()
    </div>

    <partial name="_Footer" model="@footerModel" />

    <script src="libs/govuk-frontend/all.js"></script>
    <script src="libs/jquery/jquery.min.js"></script>
    <script src="js/das-all.js"></script>
    <script src="/js/application.js" no-cdn></script>
    <script>
        window.GOVUKFrontend.initAll();
        window.DASFrontend.initAll();
    </script>

    <script type="text/javascript">
        window.zESettings = {
            webWidget: {
                contactForm: {
                    attachments: false
                },
                chat: {
                    talk: {
                        nickname: "Vacancies"
                    },
                    menuOptions: {
                        emailTranscript: false
                    }
                },
                helpCenter: {
                    filter: {
                        section: "@zendeskSectionId"
                    }
                }
            }
        };
    </script>
    <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=1b1ce288-39ea-4d40-a5e1-3a5e08aadd89"></script>
    <script id="co-snippet" src="https://embed-euw1.rcrsv.io/h6255jcoYuIOGsFnsagb3xgrbKz9mHeBGjifWcngdcP05WZQu46kKykuID1LpD9d?zwwi=1"></script>

</body>
</html>