@model AnswerModel
@{
    ViewBag.PageID = "page-overall-quality-question";
    ViewBag.Title = "Provide Feedback";
}

<a asp-route="@RouteNames.QuestionTwo_Get" class="link-back">Back</a>
<div class="grid-row">
    <div class="column-two-thirds">
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                    Error on page
                </h2>
                <ul class="error-summary-list">
                    <li><a href="#error">Please rate training quality</a></li>
                </ul>
            </div>
        }
        <h1 class="heading-xlarge">
            Training quality rating
        </h1>
        <form asp-route="@RouteNames.QuestionThree_Post">
            <div class="form-group">
                <fieldset class="@(!ViewData.ModelState.IsValid ? "form-group-error" : "")">
                    <!-- dynamically add this class in fieldset in case of error-->
                    <legend>
                        <h2 class="heading-medium">How do you rate Cyberdynes apprenticeship training?</h2>
                    </legend>
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <span class="error-message">
                            <!-- dynamically add this span element here in case of error-->
                            Please rate training quality
                        </span>
                    }
                    <div class="multiple-choice">
                        @Html.RadioButtonFor(m => m.ProviderRating, ProviderRating.Excellent, new { id = ProviderRating.Excellent, name = ProviderRating.Excellent })
                        <label for=@ProviderRating.Excellent>@ProviderRating.Excellent</label>
                    </div>
                    <div class="multiple-choice">
                        @Html.RadioButtonFor(m => m.ProviderRating, ProviderRating.Good, new { id = ProviderRating.Good, name = ProviderRating.Good })
                        <label for=@ProviderRating.Good>@ProviderRating.Good</label>
                    </div>
                    <div class="multiple-choice">
                        @Html.RadioButtonFor(m => m.ProviderRating, ProviderRating.Poor, new { id = ProviderRating.Poor, name = ProviderRating.Poor })
                        <label for=@ProviderRating.Poor>@ProviderRating.Poor</label>
                    </div>
                    <div class="multiple-choice">
                        @Html.RadioButtonFor(m => m.ProviderRating, ProviderRating.VeryPoor, new { id = ProviderRating.VeryPoor, name = ProviderRating.VeryPoor })
                        <label for=@ProviderRating.VeryPoor>@ProviderRating.VeryPoor.GetDisplayName()</label>
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="button save-button">Continue</button>
        </form>
    </div>
</div>