@model List<ProviderAttributeModel>
@{
    ViewBag.PageID = "page-strengths-question";
    ViewBag.Title = "Providers Strengths";
}
<a asp-route="@RouteNames.Landing_Get" class="link-back">Back</a>
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            {Provider Name}'s strengths
        </h1>
        <form asp-route="@RouteNames.QuestionOne_Post">
            <div class="form-group">
                <fieldset name="DoingWell">
                    <legend>
                        <h2 class="heading-medium">What are Cyberdyne doing well?</h2>
                        <span class="body-text">Select as many as you like.</span>
                    </legend>
                    @for (var i = 0; i < Model.Count; i++)
                    {
                        <div class="multiple-choice" style="display: @(Model[i].IsToImprove ? "none" : "block");">
                            <input asp-for="@Model[i].IsDoingWell" id="col1-@i" type="checkbox">
                            <label for="col1-@i">@Model[i].Name</label>
                            <input asp-for="@Model[i].Name" type="hidden" />
                            <input asp-for="@Model[i].Id" type="hidden" />
                            <input asp-for="@Model[i].IsToImprove" type="hidden">
                        </div>
                    }
                </fieldset>
            </div>
            <button type="submit" class="button save-button">Continue</button>
            
            @if (string.IsNullOrEmpty(Convert.ToString(TempData.Peek("ReturnUrl"))))
            {
                // TODO: Replace TempData by adding a flag to the ViewModel.
                <a asp-route="@RouteNames.QuestionTwo_Get" class="button-link">Skip this question</a>
            }
        </form>
    </div>
</div>