@model List<ProviderSkill>
@{
    ViewBag.PageID = "page-weaknesses-question";
    ViewBag.Title = "Providers Weaknesses";
}
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            Things for {Provider Name} to improve
        </h1>
        <form asp-route="@RouteNames.QuestionTwo_Post">
            <div class="form-group">
                <fieldset>
                    <legend>
                        <h2 class="heading-medium">What would Cyberdyne improve?</h2>
                        <span class="body-text">Select as many as you like.</span>
                    </legend>

                    @for (var i = 0; i < Model.Count; i++)
                    {
                        <div class="multiple-choice" style="display: @(Model[i].IsDoingWell ? "none" : "block");">
                            <input asp-for="@Model[i].IsToImprove" id="col1-@i" type="checkbox">
                            <label asp-for="@Model[i].Name">@Model[i].Name</label>
                            <input asp-for="@Model[i].Name" type="hidden" />
                            <input asp-for="@Model[i].Id" type="hidden" />
                            <input asp-for="@Model[i].IsDoingWell" id="col1-@i" type="hidden">
                        </div>
                    }
                </fieldset>
            </div>
            <button type="submit" class="button save-button">Continue</button>
            <a asp-route="@RouteNames.QuestionThree_Get" class="button-link">Skip this question</a>
        </form>
    </div>
</div>