@using Microsoft.Extensions.Options;
@using ESFA.DAS.EmployerProvideFeedback.Infrastructure
@inject IOptions<ExternalLinksConfiguration> externalLinks;
@model ConfirmationViewModel
@{
    ViewBag.PageID = "page-confirmation";
    ViewBag.Title = "Provide Feedback";
}
<div class="grid-row">
    <div class="column-two-thirds">
        <div class="govuk-box-highlight">
            <h1 class="font-xlarge bold">
                Feedback complete
            </h1>
        </div>
        <p>Thanks for your feedback. It'll help @Model.ProviderName to continuously improve its apprenticeship training.</p>
        <p>You rated @Model.ProviderName as <span class="bold-small">@Model.FeedbackRating.GetDisplayName()</span>. Your feedback will be published in the near future.</p>


        @if (Model.FeedbackRating == ProviderRating.VeryPoor)
        {
            <div class="form-group">
                <details>
                    <summary><span class="summary">Have concerns about @Model.ProviderName?</span></summary>

                    <div class="panel panel-border-narrow">
                        <p>If you have concerns about @Model.ProviderName, tell your line manager or Human Resources team - your organisation might be able to solve your problem informally.</p>

                        <p>If you can't resolve it informally, you can <a href="@externalLinks.Value.ComplaintToProviderSiteUrl">make a formal complaint</a> to your training provider.</p>

                        <p>If you've done this and you're not satisfied with the result, you can <a href="@externalLinks.Value.ComplaintSiteUrl">ask ESFA to investigate how the provider handled your case.</a> ESFA can't review the result of your complaint - it can only investigate whether it was reached in a fair way.</p>
                    </div>
                </details>
            </div>
        }
        <p><a class="button" href="@Model.FatUrl">Find apprenticeship training</a></p>
    </div>
</div>